    <div class="facet-name">
        <h5><i class="facet facet-open"/> {{facet}}</h5>
        <div class="btn-group dropdown">
            <button type="button" class="btn btn-link dropdown-toggle">
               Options
                <span class="caret" />
            </button>
            <div class="dropdown-menu"><button type="button" class="close" >&times;</button>
            Select one or more items to filter your search.
            </div>
        </div>
    </div>
    <div class="facet-body">

    </div>
