<div class="container-fluid">
<div class="row s-control-row">
    <div class="col-xs-12 s-explore-close-container">
        <div class="s-large-close close-widget close">x</div>
    </div>
    <header class="s-network-title">
        <h3 class="title"></h3>
        <button class="btn btn-link download s-download hidden">
            <i class="fa fa-download fa-2x" aria-hidden="true" title="download data in csv"></i>
            <span class="sr-only">download data in csv</span>
        </button>
    </header>
    <div class="col-xs-12 col-sm-6">
        <div class="network-metadata s-network-metadata"></div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="network-filter-container s-network-filter-container"></div>
    </div>
</div>
     <div class="network-container s-network-container row">
         <div class="col-md-7 graph-container">

         </div>
         <div class="col-md-5 details-container">

             <!--tabs-->

             <div role="tabpanel">

                 <!-- Nav tabs -->
                 <ul class="nav nav-tabs" role="tablist">
                     <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Summary</a></li>
                     <li role="presentation"><a href="#selected-item" aria-controls="profile" role="tab" data-toggle="tab">Detail </a></li>
                 </ul>

                 <!-- Tab panes -->
                 <div class="tab-content">
                     <div role="tabpanel" class="tab-pane active" id="home"></div>
                     <div role="tabpanel" class="tab-pane" id="selected-item">
                         <br/>
                         <br/>
                         <b>No item selected</b>
                         <p> Click on a section in the visualization on the left to see the papers
                         associated with an author or group of authors.</p>
                     </div>

                 </div>

             </div>



         </div>

     </div>
 </div>
