lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Generated SCSS Files
_*
bootstrap

pids
logs

dist
npm-debug.log
node_modules
bower_components
git-describe

test/coverage
test/reports
test/mocha/sandbox*

src/styles/fonts
src/styles/css

.idea
.wrangler

.vagrant

.env
.*
!.babelrc
!.travis.yml
!.eslintrc.json
!.editorconfig

!.nvmrc
!.prettierrc
!.gitmodules

test/test_manual.html

# Sentry Config File
.sentryclirc
