<div class="s-empty-view-msg">
  <div class="h4">Sorry no results were found for <code>{{query}}</code></div>
  {{#if showTugboatMessage}}
  <div>
    Using the ADS classic query translator? view the
    <a
      href="/help/faq/#classic-search-translator"
      rel="noreferrer noopener"
      target="_blank"
      >docs</a
    >.
  </div>
  {{else}}
  <ul>
    {{#if suggestedQuery}}
    <li>
      Try an alternate query:
      <a href="{{suggestedQuery.url}}">{{suggestedQuery.query}}</a>
    </li>
    {{/if}}
    <li>Try broadening your search</li>
    <li>Disable any filters that may be applied</li>
    <li><a href="#">Check out some examples</a></li>
    <li>
      <a
        href="/help/search/search-syntax"
        target="_blank"
        rel="noreferrer noopener"
        >Read our help pages</a
      >
    </li>
  </ul>
  <span>
    Not seeing something that should be here? Let us know!
    <button
      class="btn btn-primary-faded results-feedback-button"
      data-toggle="modal"
      data-target="#feedback-modal"
      data-feedback-view="general"
    >
      <i class="fa fa-comment" aria-hidden="true"></i>
      Leave Feedback
    </button>
  </span>
  {{/if}}
</div>
