{{#if statsCount}}

  <!-- citations section -->
  {{#compare section "citations"}}
    <div style="display: flex;">
      <div style="flex: 1; padding-right: 10px"> 
        <p style="font-size: 1.3rem;">{{totalCount}} top cited records with <strong>{{subTotal}}</strong> total citations</p>
      </div>
      <div class="s-view-metrics-button-container" style="width:40px"></div>
    </div>
    {{#if showTotalMessage}}
      <p style="font-size: 1.3rem;">(<strong>{{statsCount}}</strong> total citations for full set)</p>
    {{/if}}
  {{/compare}}
  
  <!-- reads section -->
  {{#compare section "reads"}}
    <div style="display: flex;">
      <div style="flex: 1; padding-right: 10px">
        <p style="font-size: 1.3rem;">{{totalCount}} top read records with <strong>{{subTotal}}</strong> total recent reads </p>
      </div>
      <div class="s-view-metrics-button-container" style="width:40px"></div>
    </div>
    {{#if showTotalMessage}}
      <p style="font-size: 1.3rem;">(<strong>{{statsCount}}</strong> total recent reads for full set)</p>
    {{/if}}
  {{/compare}}
{{/if}}
{{#if statsCount}}<hr/>{{/if}}

<div class="graph-legend" {{#unless statsCount}} style="width:80%" {{/unless}}></div>
{{#unless graphData}}
  {{#if error}}
    <div class="text-center">
      <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
      Could not load graph.
    </div>
  {{else}}
    <div class="text-center">
      <i class="fa fa-spin fa-spinner fa-2x" aria-hidden="true"></i> Loading...
    </div>
  {{/if}}

{{/unless}}
 <div class="s-svg-container">
     <svg class="chart s-chart" viewBox="0 0 110 100" preserveAspectRatio="xMinYMin meet">
     </svg>
 </div>

<div style="position: relative;top: 30px;">
    <div class="slider s-slider"></div>
    <div class="graph-controls row">
        <div class="slider-data col-sm-12">
        </div>
</div>

</div>
<div class="graph-download"></div>
<a id="download-link" class="hidden"></a> 