<div class="metrics-container">
  <div class="print-visible">
    <h2 style="font-weight: 800;text-align:center;">NASA/ADS Metrics Report</h2>
  </div>
  <div class="print-visible" style="text-align:center">{{url}}</div>

  <div class="col-xs-12 s-explore-close-container">
    <div class="s-large-close close-widget close">x</div>
    {{#if loading}}

      <div class="s-metrics-metadata">
        <i class="icon-loading" aria-hidden="true" /> Loading metrics...
      </div>

      {{else}}

      <div class="metrics-metadata s-metrics-metadata">
        <p>Currently showing metrics for <b>{{numFound}}</b> records.</p>
      </div>

    {{/if}}
  </div>

  <!--used by widget when it is on the abstract page-->
  {{#if title}}
  <div style="padding-left:4%">
    <h4 class="s-list-description">Metrics for</h4>
    <h2 class="s-article-title">{{{title}}}</h2>
  </div>
  {{/if}}
  <div class="s-metrics-section" id="papers">
    <div class="s-metrics-title">
      <h3>Papers</h3>
      <i class="fa fa-download fa-2x download hidden s-download" alt="download data" title="download data"></i>
    </div>
    <div class="metrics-table s-metrics-table"></div>
    <div class="metrics-graph s-metrics-graph"></div>
  </div>
  <div class="s-metrics-section" id="citations">
    <div class="s-metrics-title">
      <h3>Citations</h3>
      <i class="fa fa-download fa-2x download hidden s-download" alt="download data" title="download data"></i>
    </div>
    <div class="metrics-table s-metrics-table"></div>
    <div class="metrics-graph s-metrics-graph"></div>
  </div>
  <div class="s-metrics-section" id="reads">
    <div class="s-metrics-title">
      <h3>Reads</h3>
      <i class="fa fa-download fa-2x download hidden s-download" alt="download data" title="download data"></i>
    </div>
    <div class="metrics-table s-metrics-table"></div>
    <div class="metrics-graph s-metrics-graph"></div>
  </div>
  <div class="s-metrics-section" id="indices">
    <div class="s-metrics-title">
      <h3>Indices</h3>
      <i class="fa fa-download fa-2x download-indices hidden s-download" alt="download data" title="download data"></i>
    </div>
    <div class="metrics-table s-metrics-table"></div>
    <div class="metrics-graph s-metrics-graph"></div>
  </div>
  <a id="download-link" style="visibility: hidden"></a>
</div>
