<div class="metrics-container">
  <div class="print-only">
    <div style="font-weight: 300;text-align:center; font-size: medium;">
      NASA/ADS Metrics Report
    </div>
  </div>
  <div class="print-only" style="text-align:center">{{url}}</div>

  <div class="col-xs-12 s-explore-close-container">
    <div class="s-large-close close-widget close">x</div>
    {{#if loading}}

    <div class="s-metrics-metadata">
      <i class="icon-loading" aria-hidden="true" /> Loading metrics...
    </div>

    {{else}}

    <div class="metrics-metadata s-metrics-metadata">
      <p>Currently showing metrics for <b>{{numFound}}</b> records.</p>
    </div>

    {{/if}}
  </div>

  <!--used by widget when it is on the abstract page-->
  {{#if title}}
  <div style="padding-left:4%">
    <h4 class="s-list-description">Metrics for</h4>
    <h2 class="s-article-title">{{{title}}}</h2>
  </div>
  {{/if}}
  <div class="s-metrics-section" id="papers">
    <div class="s-metrics-title">
      <h3>Papers</h3>
      <button class="btn btn-link download s-download hidden">
        <i
          class="fa fa-download fa-2x"
          aria-hidden="true"
          title="download data in csv"
        ></i>
        <span class="sr-only">download data in csv</span>
      </button>
    </div>
    <div class="metrics-table s-metrics-table"></div>
    <div class="metrics-graph s-metrics-graph"></div>
  </div>
  <div class="s-metrics-section" id="citations">
    <div class="s-metrics-title">
      <h3>Citations</h3>
      <button class="btn btn-link download s-download hidden">
        <i
          class="fa fa-download fa-2x"
          aria-hidden="true"
          title="download data in csv"
        ></i>
        <span class="sr-only">download data in csv</span>
      </button>
    </div>
    <div class="metrics-table s-metrics-table"></div>
    <div class="metrics-graph s-metrics-graph"></div>
  </div>
  <div class="s-metrics-section" id="reads">
    <div class="s-metrics-title">
      <h3>Reads</h3>
      <button class="btn btn-link download s-download hidden">
        <i
          class="fa fa-download fa-2x"
          aria-hidden="true"
          title="download data in csv"
        ></i>
        <span class="sr-only">download data in csv</span>
      </button>
    </div>
    <div class="metrics-table s-metrics-table"></div>
    <div class="metrics-graph s-metrics-graph"></div>
  </div>
  <div class="s-metrics-section" id="indices">
    <div class="s-metrics-title">
      <h3>Indices</h3>
      <button class="btn btn-link s-download download-indices hidden">
        <i
          class="fa fa-download fa-2x"
          aria-hidden="true"
          title="download data in csv"
        ></i>
        <span class="sr-only">download data in csv</span>
      </button>
    </div>
    <div class="metrics-table s-metrics-table"></div>
    <div class="metrics-graph s-metrics-graph"></div>
  </div>
  <a id="download-link" style="visibility: hidden"></a>
</div>
