html,
body {
  height: 100%;
}

#body-template-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar-container {
  flex: 1 0 auto;
}

#alerts-container {
  flex: 1 0 auto;
}

#content-container {
  flex: 1 0 auto;
}

#footer-container {
  flex-shrink: 0;
}

#page-with-sidenav-layout {
  display: flex;
  flex-direction: column;

  .user-pages__main {
    min-height: 600px;
    display: flex;
    flex-direction: row;

    &-aside {
      width: 300px;
      flex: 1 0 300;
    }

    &-content {
      width: 100%;
    }

    @media (max-width: $screen-md) {
      &-aside {
        transform: translateX(-100%);
        transition: opacity 0.6s ease, transform 0.6s ease;

        &.show {
          transform: none;
        }
      }

      &-content {
        transition: opacity 0.6s ease, transform 0.6s ease;
        &.full-width {
          // margin-left: -300px;
          display: block;
          margin-left: 0;
        }
      }
    }

    @media (max-width: $screen-sm) {
      &-aside {
        width: 100%;
        transform: translateX(-100%);
        transition: none;
        display: none;

        &.show {
          transform: none;
        }
      }

      &-content {
        display: none;
        transition: none;
        &.full-width {
          display: block;
          margin-left: 0;
        }
      }
    }
  }
}
