.print-only {
  display: none;
}
@media print {
  *,
  *:before,
  *:after {
    overflow: visible !important;
    border: none;
  }

  a[href]:after {
    content: '';
  }

  //THIS IS SUPER IMPORTANT otherwise page breaks don't work
  #app-container {
    overflow-x: visible !important;
  }

  .print-only {
    display: block;
  }

  .print-hidden {
    display: none !important;
  }

  .s-results-links {
    display: none;
  }

  .s-label {
    display: none;
  }

  .identifier {
    display: block !important;
    float: left !important;
    margin-right: 1.2rem !important;
  }

  //general, any page adjustments
  .s-results-control-row-container,
  #navbar-container,
  .s-stable-search-bar-height,
  .s-metrics-metadata,
  .s-results-border-bottom,
  .footer {
    display: none !important;
  }

  .nav-container,
  .toggle-menu {
    display: none !important;
  }

  .s-right-col-widget-container,
  .query-info-widget {
    display: none;
  }

  .main-content-container {
    border: none;
  }

  //abstract-page

  li.author a {
    font-weight: bold;
  }

  .s-nav-button-container {
    border: none;
  }

  //metrics

  .icon-help {
    display: none;
  }

  .close-widget {
    display: none;
  }

  .s-metrics-section {
    page-break-after: always;
    page-break-inside: avoid;
    -webkit-region-break-inside: avoid;
    position: relative;
  }

  .nv-controlsWrap {
    display: none;
  }

  .s-metrics-table,
  .s-metrics-graph {
    margin: 0 auto;
    width: 100%;
  }

  .s-metrics-table {
    margin-bottom: 50px;
  }

  .s-download {
    display: none;
  }

  #darkSwitch {
    display: none;
  }

  .custom-checkbox {
    display: none;
  }

  .s-show-details-container {
    display: none;
  }

  .s-pagination-controls {
    display: none;
  }

  #backToTopBtn {
    display: none;
  }

  .print-visible-inline-1 {
    display: inline !important;
  }

  .print-visible-block-1 {
    display: block !important;
  }

  // library
  .s-user-pill-nav {
    display: none;
  }

  .s-lib-header {
    display: none;
  }

  .s-library-actions {
    display: none;
  }

  .library-detail-view,
  .s-libary-list {
    margin: 0;
    padding: 0;
    border: none;
  }

  .s-inner-div-background > div {
    border: none;
  }

  // network graph
  .s-control-row {
    border: none;
    padding: 0;
  }

  .s-network-title {
    margin: 0;
    padding: 1px;
  }

  .s-network-container > .graph-container {
    page-break-after: always;
  }
}
