<div role="search">
  <div class="row">
    <h2 class="sr-only">Search Bar to Enter New Query</h2>
    <div class="col-sm-12 s-quick-add" aria-label="quick add fields">
      <div id="expanded-search-form" class="unselectable">
        <div id="field-options">
          <span class="s-field-options">quick field:</span>

          <span class="visible-sm-inline visible-md-inline visible-lg-inline">
            <button class="btn btn-link btn-sm" title='search for an author, e.g. author:"Kurtz,M"' data-toggle="tooltip" data-field="author" data-punc='"'>Author</button>
            <button class="btn btn-link btn-sm" title='search for a first author, e.g. author:"^Kurtz,M"' data-toggle="tooltip" data-field="first-author" data-punc='"'>First Author</button>
            <button class="btn btn-link btn-sm" title="limit search to abstract, title and keyword fields" data-toggle="tooltip" data-field="abs" data-punc='"'>Abstract</button>
          </span>

          <span class="visible-lg-inline">
            <button class="btn btn-link btn-sm" title="e.g. year:1999 or year:1999-2016" data-toggle="tooltip" data-field="year">Year</button>
            <button class="btn btn-link btn-sm" title="search titles, abstract, text, keywords and acknowledgements of the articles" data-toggle="tooltip" data-field="full" data-punc='"'>Fulltext</button>
          </span>

          <!--container for additional fields/operators-->
          <span id="option-dropdown-container"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col-sm-12 search-bar-input-row s-search-bar-input-row">
      <form name="main-query" action="/search/q=%s">
        <div class="form-group has-feedback">
          <div class="input-group">
            {{#if bigquery}} {{#if libraryName}}
            <div class="btn btn-xs btn-info bigquery-tag">
              <i class="fa fa-book" aria-hidden="true"></i>&nbsp;<span>{{libraryName}}</span>&nbsp;<i class="fa fa-close fa-lg bigquery-close" aria-hidden="true" title="click to remove"></i></div>
            {{else}}
            <div class="btn btn-xs btn-info bigquery-tag"><i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;&nbsp;Bulk query&nbsp;&nbsp;<i class="fa fa-close fa-lg bigquery-close" aria-hidden="true" title="click to remove" ></i></div>
            {{/if}}
            <label for="query-search-input" clas="sr-only">ADS search</label>
            <input type="text" class="form-control q hasbigquery" name="q" id="query-search-input" autofocus aria-label="Start typing a query here to begin an ADS Search" autocomplete="off" value={{currentQueryVal}}>


            <button class="icon-clear s-clear-control"></button>

            {{else}}
            <input type="text" class="form-control q" name="q" autofocus id="query-search-input" aria-label="Start typing a query here to begin an ADS Search" autocomplete="off" value={{currentQueryVal}}>

            <button class="icon-clear s-clear-control"></button>

            {{/if}}
            <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary search-submit s-search-submit" aria-label="submit">
                          <i class="fa fa-search" aria-hidden="true"></i></button>
                  </span>

          </div>
          <!-- /input-group -->
        </div>
        <!-- /form-group-->
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="only-show-on-landing search-quick-links">
    <div class="quick-reference">
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>author</dt>
          <dd>
            <button class="text-link">author:"huchra, john"</button>
          </dd>
          <dt>first author</dt>
          <dd>
            <button class="text-link">author:"^huchra, john"</button>
          </dd>
          <dt>abstract + title</dt>
          <dd>
            <button class="text-link">abs:"dark energy"</button>
          </dd>
          <dt>year</dt>
          <dd>
            <button class="text-link">year:2000</button>
          </dd>
          <dt>year range</dt>
          <dd>
            <button class="text-link">year:2000-2005</button>
          </dd>
          <dt>full text</dt>
          <dd>
            <button class="text-link">full:"gravity waves"</button>
          </dd>
          <dt>publication</dt>
          <dd>
            <button class="text-link">bibstem:ApJ</button>
            <i class="icon-help" aria-hidden="true" data-toggle="tooltip" title="this field requires the bibstem, or journal abbreviation--try going to the 'Paper' tab above for an easy-to-use form version"></i>
          </dd>
        </dl>
      </div>
      <div class="col-sm-6  quick-reference">
        <dl class="dl-horizontal">
          <dt>citations</dt>
          <dd>
            <button class="text-link">citations(author:"huchra, j")</button>
            <i class="icon-help" aria-hidden="true" data-toggle="tooltip" title="finds all papers that cite a given set of papers"></i>
          </dd>
          <dt>references</dt>
          <dd>
            <button class="text-link">references(author:"huchra, j")</button>
            <i class="icon-help" aria-hidden="true" data-toggle="tooltip" title="finds all papers referenced by a given set of papers"></i>
          </dd>
          <dt>reviews</dt>
          <dd>
            <button class="text-link">reviews("gamma-ray bursts")</button>
            <i class="icon-help" aria-hidden="true" data-toggle="tooltip" title="finds articles citing the most relevant papers on the topic being researched"></i>
          </dd>
          <dt style="padding-top: 0.6em;">refereed</dt>
          <dd style="border-top: solid 1px #e8e8e8; padding-top: 0.5em;">
            <button class="text-link">property:refereed</button>
            <i class="icon-help" aria-hidden="true" data-toggle="tooltip" title="limit to non-refereed papers by searching property:notrefereed"></i>
          </dd>
          <dt>astronomy</dt>
          <dd>
            <button class="text-link">collection:astronomy</button>
            <i class="icon-help" aria-hidden="true" data-toggle="tooltip" title="limit to physics papers by searching collection:physics"></i>
          </dd>
          <dt>OR</dt>
          <dd>
            <button class="text-link">abs:(planet OR star)</button>
            <i class="icon-help" aria-hidden="true" data-toggle="tooltip" title="default logic is AND, e.g. abs:(planet star) would be interpreted as abs:(planet AND star)"></i>
          </dd>
        </dl>
      </div>
    </div>

  </div>

  <div class="s-num-found">
    <span class="s-light-font description">Your search returned</span>
      <span class="num-found-container" style="font-weight: bold;">{{numFound}}</span>
      <span class="s-light-font"> results </span>
    {{#if citationCount}}
      <span class="search-bar__citation-count"> with <span class="citation-count-container" style="font-weight: bold;">{{citationCount}}</span>
        <span class="s-light-font description">total {{citationLabel}} </span>
      </span>
    {{/if}}
  </div>
</div>
</div>
