<nav class="navbar fluid navbar-inverse" aria-label="main navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" aria-hidden="true"></span>
                <span class="icon-bar" aria-hidden="true"></span>
                <span class="icon-bar" aria-hidden="true"></span>
            </button>
            {{#unless hourly}}
            <a class="navbar-brand s-navbar-brand" href="#"><img class="s-ads-icon" src="/styles/img/transparent_logo.svg" alt="ads icon"/>
                <h1 style="font-weight: bold;">ads</h1>
            </a>
            {{else}}
            <div class="s-hourly-warning">
                <a class="navbar-brand s-navbar-brand" href="#"><i class="icon-danger fa-2x" aria-hidden="true"></i> ADS TEST</a>
                <span> Nothing you do here will be saved!  <a href="https://ui.adsabs.harvard.edu/">I want the real ADS <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </span>
            </div>
            {{/unless}}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                  <button type="button" class="btn btn-link dropdown-toggle feedback-button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-comment feedback-icon" aria-hidden="true"></i> Feedback <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="javascript:void(0);" data-target="#feedback-modal" data-toggle="modal" data-feedback-view="list">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Submit Updates
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);" data-target="#feedback-modal" data-toggle="modal" data-feedback-view="general">
                        <i class="fa fa-envelope" aria-hidden="true"></i> General Feedback
                      </a>
                    </li>
                  </ul>
                </li>

                {{#if orcidLoggedIn}}

                    {{#if orcidModeOn}}

                <li class="dropdown orcid-dropdown s-orcid-dropdown">
                    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="s-orcid-title">
                         <img src="../../styles/img/orcid-active.svg" alt="orcid symbol"/>
                            ORCID
                            <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="no-hover-style">
                            {{#if orcidLastName}} <h4> Signed in to ORCID as <br/> <strong>{{orcidFirstName}} {{orcidLastName}}</strong></h4> {{/if}}
                            <div class="s-orcid-mode-label" style="font-weight: bold;">ORCID Mode</div>
                            <div class="s-orcid-label-container">
                                off
                                <div class="switch">
                                    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round orcid-mode" type="checkbox" checked="checked">
                                    <label for="cmn-toggle-1"></label>
                                </div>
                                on
                            </div>
                        </li>

                        <li class="divider"></li>
                        <li>
                            <a class="orcid-link" href="#user/orcid" >View my ORCID papers in ADS </a>
                        </li>
                        {{#if orcidURI}}
                        <li>
                            <a href="https://orcid.org/my-orcid" target="_blank" rel="noopener" >View my ORCID profile on orcid.org </a>
                        </li>
                        {{/if}}
                        <li>
                            <a href="#orcid-instructions"> <i class="fa fa-info-circle" aria-hidden="true"></i> Learn how to make ORCID claims using ADS</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0)" class="orcid-logout" >Log out from ORCID in ADS</a>
                        <li>

                    </ul>
                </li>

                    {{else}}

                <li class="dropdown orcid-dropdown s-orcid-dropdown">
                    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="s-orcid-title"> <img src="../../styles/img/orcid_inactive.png"
                                                          alt="orcid symbol"/> ORCID  <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="no-hover-style">
                            {{#if orcidLastName}} <h4> Signed in to ORCID as <br/> <strong>{{orcidFirstName}} {{orcidLastName}}</strong></h4> {{/if}}
                            <div class="s-orcid-mode-label" style="font-weight: bold;">ORCID Mode</div>
                            <div class="s-orcid-label-container">
                                off
                                <div class="switch clearfix">
                                    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round orcid-mode" type="checkbox">
                                    <label for="cmn-toggle-1"></label>
                                </div>
                                on
                            </div>
                        </li>
                        <li style="clear:both" class="no-hover-style">You have turned off the ORCID view for the ADS search results page, but are still logged in.</li>
                        <li class="divider"></li>
                        <li>
                            <a class="orcid-link" href="#user/orcid" > View my ORCID papers in ADS</a>
                        </li>
                        {{#if orcidURI}}
                        <li>
                            <a href="https://orcid.org/my-orcid" target="_blank" rel="noopener" >View my ORCID profile on orcid.org </a>
                        </li>
                        {{/if}}
                        <li>
                            <a href="#orcid-instructions"> <i class="fa fa-info-circle" aria-hidden="true"></i> Learn how to claim ORCID papers</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="orcid-logout" >Log out from ORCID</a>
                        </li>
                    </ul>
                </li>

                    {{/if}}
                <!--end "if/else orcidModeOn"-->

                {{else}}

                <li class="dropdown orcid-dropdown s-orcid-dropdown">
                    <button class="btn dropdown-toggle btn-link" data-toggle="dropdown" aria-expanded="false">
                        <span class="s-orcid-title"> <img src="../../styles/img/orcid_inactive.png"
                                                          alt="orcid symbol"/>  ORCID  <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                      <li class="no-hover-style">
                        <a href="javascript:void(0);" class="orcid-sign-in">Sign in to ORCID to claim papers in the ADS.</a>
                      </li>
                    </ul>
                </li>

                <!--end "if/else orcidLoggedIn"-->

                {{/if}}

                <li class="dropdown">
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-question-circle about-page-icon" aria-hidden="true"></i> About <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li> <a href="//ui.adsabs.harvard.edu/about/" target="_blank" rel="noopener"> <i class="fa fa-question-circle" aria-hidden="true"></i> About ADS </a></li>
                        <li> <a href="//adsabs.github.io/help/whats_new/" target="_blank" rel="noopener"> <i class="fa fa-bullhorn" aria-hidden="true"></i> What's New </a></li>
                        <li> <a href="//adsabs.github.io/blog/" target="_blank" rel="noopener"> <i class="fa fa-newspaper-o" aria-hidden="true"></i> ADS Blog </a></li>
                        <li> <a href="//adsabs.github.io/help/" target="_blank" rel="noopener"> <i class="fa fa-info-circle" aria-hidden="true"></i> ADS Help Pages </a></li>
                        <li> <a href="//ui.adsabs.harvard.edu/about/careers/" target="_blank" rel="noopener"> <i class="fa fa-group" aria-hidden="true"></i> Careers@ADS </a></li>
                    </ul>
                </li>


                {{#if currentUser}}

                <!-- Single button -->
                <li class="dropdown account-dropdown">
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <i class="fa fa-user" aria-hidden="true"></i> Account <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="no-hover-style" style="padding:15px 10px;">You are signed in as <br/> <span class="s-text-bold">{{currentUser}}</span></li>
                        <li ><a href="#user/home"> <i class="fa fa-user" aria-hidden="true"></i> My Home Page</a></li>
                        <li><a href="#user/libraries"> <i class="fa fa-book" aria-hidden="true"></i> ADS Libraries</a></li>
                        <li><a href="#user/settings"> <i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)" class="logout">Log Out</a></li>
                    </ul>
                </li>

                {{else}}
                <li class="register"><a href="#user/account/register">Sign Up</a></li>
                <li class="login"><a href="#user/account/login">Log In</a></li>
                {{/if}}

            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- /.container-fluid -->
