<!--<div id="article-navigation">{{#if hasPrev}}<a target="prev">prev</a>{{/if}}|{{#if hasNext}} <a target="next">next</a>{{/if}}</div>-->

{{#unless bibcode}} {{#if loading}} {{> js/wraps/widget/loading/template
hideCloseButton=true widgetLoadingSize="big"}} {{else if error}}
<h2>Error loading abstract</h2>
{{else}}
<h2 class="s-abstract-title">Abstract Not Found</h2>
<div class="s-abstract-text">
  No valid abstract selected for retrieval or abstract not yet indexed in ADS.
</div>
{{/if}} {{else}}

<h2 class="s-abstract-title">
  {{{title}}} {{#if titleLink.href}}
  <a href="{{titleLink.href}}">{{titleLink.text}}</a>
  {{/if}}
</h2>

<button
  class="btn btn-xs btn-default-flat s-toggle-aff print-hidden"
  id="toggle-aff"
>
  Show affiliations
</button>
<span id="pending-aff" style="display: none;"
><i class="fa fa-spinner fa-spin" aria-hidden="true"></i
><span class="sr-only">Loading affiliations</span></span
>
<span id="fail-aff" class="text-danger" style="display: none;"
><i class="fa fa-times" aria-hidden="true"></i
><span class="sr-only">affiliations loading</span></span
>
{{#if authorAff.length}} {{#if hasMoreAuthors}}
<button
  class="btn btn-xs btn-default-flat s-toggle-authors print-hidden"
  id="toggle-more-authors"
>
  Show all authors
</button>
{{/if}}

<div id="authors-and-aff" class="s-authors-and-aff">
  <ul class="list-inline">
    {{#each authorAff}}
    <li class="author">
      <a href="search/q=author:{{this.[5]}}&sort=date%20desc,%20bibcode%20desc">
        {{this.[0]}}
      </a>
      <span>
        {{#compare this.[2] '-' operator="!=="}}
        <a
          class="orcid-author"
          href="search/q=orcid:{{this.[2]}}&sort=date%20desc,%20bibcode%20desc"
        >
          <img
            class="inactive"
            src="../../styles/img/orcid-inactive.svg"
            alt="search by orcid"
          />
          <img
            class="active hidden"
            src="../../styles/img/orcid-active.svg"
            alt="search by orcid"
          />
        </a>
        {{else}} {{#compare this.[3] '-' operator="!=="}}
        <a
          class="orcid-author"
          href="search/q=orcid:{{this.[3]}}&sort=date%20desc,%20bibcode%20desc"
        >
          <img
            class="inactive"
            src="../../styles/img/orcid-inactive.svg"
            alt="search by orcid"
          />
          <img
            class="active hidden"
            src="../../styles/img/orcid-active.svg"
            alt="search by orcid"
          />
        </a>
        {{else}} {{#compare this.[4] '-' operator="!=="}}
        <a
          class="orcid-author"
          href="search/q=orcid:{{this.[4]}}&sort=date%20desc,%20bibcode%20desc"
        >
          <img
            class="inactive"
            src="../../styles/img/orcid-inactive.svg"
            alt="search by orcid"
          />
          <img
            class="active hidden"
            src="../../styles/img/orcid-active.svg"
            alt="search by orcid"
          />
        </a>
        {{/compare}} {{/compare}} {{/compare}}
      </span>
      <span class="affiliation hide"> (<i>{{this.[1]}}</i>)</span>{{#if
      @last}}{{else}};{{/if}}
    </li>
    {{/each}} {{#if hasMoreAuthors}}
    <li class="author">
      ;
      <span class="extra-dots">
        <a data-target="more-authors" title="Show all authors">...</a>
      </span>
    </li>
    {{/if}} {{#each authorAffExtra}}

    <li class="author extra hide">
      <a href="search/q=author:{{this.[5]}}&sort=date%20desc,%20bibcode%20desc">
        {{this.[0]}}
      </a>
      <span>
        {{#compare this.[2] '-' operator="!=="}}
        <a
          class="orcid-author"
          href="search/q=orcid:{{this.[2]}}&sort=date%20desc,%20bibcode%20desc"
        >
          <img
            class="inactive"
            src="../../styles/img/orcid-inactive.svg"
            alt="search by orcid"
          />
          <img
            class="active hidden"
            src="../../styles/img/orcid-active.svg"
            alt="search by orcid"
          />
        </a>
        {{else}} {{#compare this.[3] '-' operator="!=="}}
        <a
          class="orcid-author"
          href="search/q=orcid:{{this.[3]}}&sort=date%20desc,%20bibcode%20desc"
        >
          <img
            class="inactive"
            src="../../styles/img/orcid-inactive.svg"
            alt="search by orcid"
          />
          <img
            class="active hidden"
            src="../../styles/img/orcid-active.svg"
            alt="search by orcid"
          />
        </a>
        {{else}} {{#compare this.[4] '-' operator="!=="}}
        <a
          class="orcid-author"
          href="search/q=orcid:{{this.[4]}}&sort=date%20desc,%20bibcode%20desc"
        >
          <img
            class="inactive"
            src="../../styles/img/orcid-inactive.svg"
            alt="search by orcid"
          />
          <img
            class="active hidden"
            src="../../styles/img/orcid-active.svg"
            alt="search by orcid"
          />
        </a>
        {{/compare}} {{/compare}} {{/compare}}
      </span>
      <span class="affiliation hide"> (<i>{{this.[1]}}</i>)</span>{{#if
      @last}}{{else}};{{/if}}
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}

<div class="s-abstract-text">
  <h4 class="sr-only">Abstract</h4>
  <p>
    {{#if abstract}} {{{abstract}}} {{else}}
    <i>No abstract</i>
    {{/if}}
  </p>
</div>

<br/>
<dl class="s-abstract-dl-horizontal">
  {{#if pub_raw}}
  <dt>Publication:</dt>
  <dd>
    <div id="article-publication">{{{pub_raw}}}</div>
  </dd>
  {{/if}} {{#if book_author}}
  <dt>
    Book Author{{#compare book_author.length 1 operator='>'}}(s){{/compare}}:
  </dt>
  <dd>
    {{#each book_author}}<a href="{{href}}">{{name}}</a>{{delim}}{{/each}}
  </dd>
  {{/if}} {{#if formattedDate}}
  <dt>Pub Date:</dt>
  <dd>{{formattedDate}}</dd>
  {{/if}}
  {{#if doi}}
  <dt>DOI:</dt>
  <dd>
    {{#each doi}}
    <p class="doi-p">
      <a
        data-target="DOI"
        href="{{href}}"
        target="_blank"
        rel="noreferrer noopener"
      >{{doi}}</a
      >
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </p>
    {{/each}}
  </dd>
  {{/if}} {{#if arxiv}}
  <dt>arXiv:</dt>
  <dd>
    <span>
      <a
        data-target="arXiv"
        href="{{arxiv.href}}"
        target="_blank"
        rel="noreferrer noopener"
      >{{arxiv.id}}</a
      >
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </span>
  </dd>
  {{/if}}

  <dt>Bibcode:</dt>
  <dd>
    <button
      class="btn btn-link copy-btn"
      style="padding: 0px"
      id="abs-bibcode-copy"
      data-clipboard-text="{{bibcode}}"
      aria-label="copy bibcode"
    >
      {{ bibcode }}
      <i
        class="icon-help"
        aria-hidden="true"
        data-toggle="popover"
        data-container="body"
        data-content="The bibcode is assigned by the ADS as a unique identifier for the paper."
      ></i>
    </button>
    <span id="abs-bibcode-copy-msg" class="text-info" style="display: none;"
    >Copied!</span
    >
  </dd>

  {{#if keyword}}
  <dt>Keywords:</dt>
  <dd>
    <ul class="list-inline">
      {{#each keyword}} {{#if @last}}
      <li>{{{this}}}</li>
      {{else}}
      <li>{{{this}}};</li>
      {{/if}} {{/each}}
    </ul>
  </dd>
  {{/if}} {{#if comment}}
  <dt>Comments:</dt>
  <dd>
    {{{ comment }}}
  </dd>
  {{/if}} {{#if pubnote}}
  <dt>E-Print Comments:</dt>
  <dd>
    {{ pubnote }}
  </dd>
  {{/if}}
</dl>
<br/>
<a
  class="small pull-right text-faded"
  href="/feedback/correctabstract?bibcode={{bibcode}}"
  title="Provide feedback or suggest corrections"
>
  <span class="fa-stack">
    <i class="fa fa-comment-o fa-stack-2x" aria-hidden="true"></i>
    <i class="fa fa-exclamation fa-stack-1x" aria-hidden="true"></i>
  </span>
  Feedback/Corrections?
</a>

{{/unless}}
