<div class="panel panel-default">
  <legend class="panel-heading">
    Log in to ADS
  </legend>
  <form class="panel-body">
    <div class="form-group has-feedback">
      <label for="email" class="control-label"> Email address </label>
      <span class="help-block no-show s-help-block"></span>
      <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" />
    </div>

    <div class="form-group has-feedback">
      <label for="password" class="control-label"> Password </label>
      <span class="help-block no-show s-help-block"></span>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
    </div>

    <button type="button" class="btn btn-link show-reset-password-1">
      Forgot your password?
    </button>
    <span class="help-block no-show s-help-block"></span>

    <div class="form-group has-feedback">
      <span class="help-block no-show s-help-block s-help-block-submit"></span>
      <button type="submit" class="btn btn-primary-faded submit-login">
        Submit
      </button>
    </div>

    <div style="display: flex; justify-content: center;">
      <strong>Don't have an account yet?&nbsp;<button type="button" href="#" class="btn btn-link show-register">Register</button></strong>
    </div>
    <div style="display: flex; justify-content: center; align-items: center">
      <div style="margin-right: 1rem"></div> <button type="button" class="btn btn-link show-resend-verification-email">Resend verification email?</button>
    </div>
  </form>

  {{#if hasError}}
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
      <div class="alert alert-danger">
        <p>{{errorMsg}}</p>
        <p><a class="link" id="dismiss-error">Dismiss</a></p>
      </div>
    </div>
  </div>
  {{/if}}
</div>
