.__footer_wrapper {
  background-color: #484f4f;
  color: white;
  font-size: 1.1em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }

  &>* {
    padding: 0 30px;
  }
  .__footer_brand_extra {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7em;
    max-width: 300px;
    @media (min-width: $screen-sm-min) {
      width: 100%;
    }
  }

  .__footer_brand_logos img {
    width: 64px;
    .smithsonian {
      width: 56px;
    }
  }
}

.__footer_links {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    &:hover {
      color: #5683e0;
    }
  }

  li {
    line-height: 1.25;
    margin-bottom: 8px;
  }
}

.__footer_list_title {
  font-weight: 400;
  margin-bottom: 1em;
}

.s-footer {
  width: 100%;
}
