//tests

#mocha-stats > li.progress {
  height: 40px;
}

// the hidden live region

#aria-announcement-container {
  color: fade(#fff, 0%);
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.grecaptcha-badge {
  display: none;
}

// make label group like
.label-group {
  .label:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .label:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .label:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}
