.no-padding-right {
  padding-right: 0px !important;
}

.no-show {
  visibility: hidden;
}

.unselectable {
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/*don't use this!*/
.hide {
  display: none;
}

@media screen and (max-width: $screen-xs) {
  .hide-xxs {
    display: none;
  }
}

@media screen and (max-width: $screen-sm) {
  .hide-xs {
    display: none;
  }
}

@media screen and (min-width: $screen-xs) {
  .hide-all-but-xxs {
    display: none;
  }
}

@media screen and (min-width: $screen-sm) {
  .hide-all-but-xs {
    display: none;
  }
}

//for columns
.no-right-padding {
  padding-right: 0;
}

.s-display-block {
  display: block;
}

.s-display-inline {
  display: inline;
}

.s-display-inline-block {
  display: inline-block;
  vertical-align: top;
}

.s-large-close {
  background-color: $body-bg;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  color: $text-color;
  width: 1.2em;
  height: 1.2em;
  padding-left: 0.3em;
  border: 1px solid $gray-light;
  border-radius: 50px;
  line-height: 1;
  z-index: $z-index-2;
  cursor: pointer;
  position: relative;
  float: right;
  opacity: 0.8;
  margin: 15px 0 15px 0;

  &:hover {
    border: 1px solid $gray;
    box-shadow: 0px 0px 6px gray;
    opacity: 1;
  }
}

.s-explore-close-container {
}

.s-disabled {
  color: lighten($gray-light, 10%);
}

.s-darker-background {
  min-height: 100%;
  height: 100%;
  background-color: $darker-background;
}

//get rid of this later
.s-full-height {
  height: auto;
  min-height: 100%; /* fallback for browsers that doesn't support "vh" */
  min-height: 100vh;
}

.s-100-height {
  height: 100%;
}

.s-center-text {
  text-align: center;
}

.s-position-relative {
  position: relative;
}

.s-80-width {
  display: inline-block;
  vertical-align: top;
  width: 79%;
}

.s-20-width {
  display: inline-block;
  vertical-align: top;
  width: 19%;
}

//loading template
//in order for this to work, the parent must be relatively positioned!!!
//so all widgets that need a loading template must have a relatively positioned
//outer element

.s-loading {
  opacity: 1;
  z-index: $z-index-3;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  &:before {
    @extend .fa;
    @extend .fa-pulse;
    @extend .fa-2x;
    color: $gray-light;
    content: $fa-var-spinner;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: $z-index-4;
  }
}

//for smaller widgets that just need a tiny loading image
.s-loading.s-small {
  &:before {
    @extend .fa;
    @extend .fa-pulse;
    color: $gray-light;
    content: $fa-var-spinner;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: $z-index-4;
  }
}

//a few alterations for list of results loading overlay
.list-of-things {
  .s-loading {
    opacity: 0.5;
    z-index: $z-index-max;
    &:before {
      top: 10%;
    }
  }
}

//success template with just checkmark
.s-success {
  opacity: 1;
  z-index: $z-index-3;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  &:before {
    @extend .fa;
    @extend .fa-3x;
    color: $brand-success;
    content: $fa-var-check;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: $z-index-4;
  }
}

.s-light-font {
  font-weight: 300;
}

.s-spacer-top-large {
  margin-top: 40px;
}

.s-spacer-top {
  margin-top: 20px;
}

.s-divider-bottom {
  border-bottom: 1px solid darken($gray-lighter, 5%);
  margin-bottom: 5px;
}

.s-light-font {
  font-weight: 300 !important;
}

.pull-right-sm {
  @media (min-width: $screen-sm-min) {
    float: right !important;
  }
}

.pull-right-md {
  @media (min-width: $screen-sm-max) {
    float: right !important;
  }
}

.body-min-height {
  min-height: 500px;
}

.leader-text {
  font-weight: 300;
  font-size: 18px;
}

//put this on a form to prevent it from being full-width
.basic-form-style {
  max-width: 640px;
  margin: 40px auto;
}

.text-faded,
.text-light {
  color: $gray-light;
}

.max-width-wrapper {
  max-width: 1500px;
  margin: auto;
}

button.text-link {
  background: none;
  text-align: left;
  border: 1px dotted rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  margin-right: 4px;
}

.s-text-bold {
  font-weight: bold;
}

.s-text-italics {
  font-style: italic;
}
