// Loading Widget Styles
$base-icon-size: 3em;
$base-loading-text-size: 1em;

.loading-container {
  width: 100%;
  height: 100%;
  min-height: 600px;
  text-align: center;
  display: table;

  .loading {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .loading-text-big {
    font-size: $base-loading-text-size + 1;
  }

  .loading-text-medium {
    font-size: $base-loading-text-size + 0.5;
  }

  .loading-text-small {
    font-size: $base-loading-text-size;
  }

  .loading-icon-big {
    font-size: $base-icon-size * 3;
  }

  .loading-icon-medium {
    font-size: $base-icon-size * 2;
  }

  .loading-icon-small {
    font-size: $base-icon-size;
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.close-circle {
  position: absolute;
  right: 10px;
  a {
    text-align: center;
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #909090;
    border-radius: 100%;
    text-decoration: none;
  }
  i {
    font-size: 2.8em;
    line-height: 1.3em;
    color: #909090;
  }
}
div[data-widget="ShowPaperExport"] .close-circle {
  display: none;
}

.results-feedback-button {
  margin-top: 0 !important;
}

.col-center-block {
  float: none;
  display: inline-block;
  margin: 0 20px;
  text-align: left;
}

.custom-format-buttons {
  padding-top: 26px;
}


// Resources Widget
.resources__container {
  background-color: white;
  position: relative;
}

.resources__content__title {
  font-size: 1.1em;
}

.resources__header__title {
  margin-left: 5px;
  font-size: 0.7em;
  display: inline-block;
  text-transform: uppercase;
}

.resources__header__row {
  color: #335baf;
  font-size: 1.5em;
  margin-left: -10px;
  padding-left: 10px;
  padding-right: 8px;
}

.resources__full__list {
  & .resources__content {
    margin-left: 7px;
    padding-top: 3px;
    border-left: solid 3px grey;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  & .resources__content__links {
    font-size: 1em;
  }

  & .resources__content__link:hover {
    text-decoration: none;
  }

  & .resources__content__link__separator {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }

  & .resources__content__link {
    position: relative;
  }

  & .resources__content__link.unlock::after {
    background-color: lightgreen;
    width: 7px;
    height: 7px;
    position: absolute;
    left: 70%;
    top: 70%;
    border-radius: 50%;
    border: solid 1px black;
    content: '';
  }

  & .resources__content__link.lock::after {
    background-color: red;
    width: 7px;
    height: 7px;
    position: absolute;
    left: 70%;
    top: 70%;
    border-radius: 50%;
    border: solid 1px black;
    content: '';
  }
}

.resources__data__list {
  & .resources__content {
    margin-left: 7px;
    border-left: solid 3px grey;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  & .resources__content__link {
    font-size: 1em;
    min-width: 50%;
  }
}
