<section id="page-with-sidenav-layout">

  <!-- horizontal navbar -->
  <article data-widget="UserNavbarWidget"></article>

  <!-- mobile nav button -->
  <article class="nav-button-container s-nav-button-container">
    <button type="button" class="btn btn-primary-faded toggle-menu s-toggle-menu ">
      <i class="fa fa-bars" aria-hidden="true"></i> Show Menu
    </button>
  </article>

  <!-- main container -->
  <article class="s-darker-background user-pages__main">

    <!-- side nav -->
    <section class="nav-container s-nav-container user-pages__main-aside"></section>

    <!-- content -->
    <section class="user-pages__main-content full-width">
      <div data-widget="IndividualLibraryWidget"></div>
      <div data-widget="LibraryActionsWidget"></div>
      <div data-widget="AllLibrariesWidget"></div>
      <div data-widget="LibraryListWidget"></div>
      <div
        data-widget="ExportWidget"
        class="s-inner-div-background"
        data-origin="library"></div>
      <div
        data-widget="AuthorAffiliationTool"
        class="s-inner-div-background"
        data-origin="library"></div>
      <div data-widget="Metrics" class="s-inner-div-background"></div>
      <div data-widget="AuthorNetwork" class="s-inner-div-background"></div>
      <div data-widget="PaperNetwork" class="s-inner-div-background"></div>
      <div data-widget="BubbleChart" class="s-inner-div-background"></div>
      <div data-widget="ConceptCloud" class="s-inner-div-background"></div>
      <div data-widget="CitationHelper" class="s-inner-div-background"></div>
    </section>
  </article>
</section>

