<div class="s-library-actions">
    {{#if itemDeleted}}
        <h3 class="record-deleted"><i class="icon-success"/> Record successfully deleted</h3>
    {{/if}}
    {{#if hasRecords}}
      <div class="row">
        <div class="col-sm-1" style="padding-left: 12.5px">
        {{#unless public}}
          <label for="select-all-docs" class="sr-only">Select All Docs</label>
          <input type="checkbox" id="select-all-docs" name="select-all-docs" title="select all docs" {{#if allSelected}} checked {{/if}}>
        {{/unless}}
        </div>
        <div class="col-sm-3">
          <button
            class="btn btn-danger btn-sm hidden" id="bulk-delete">Delete Selected</button>
        </div>
        <div class="col-sm-3 col-sm-offset-5">
          <div id="sort-container"></div>
        </div>
      </div>
    {{/if}}
</div>
<hr/>

<ul class="library-list-container s-library-list-container">
</ul>

{{#if pagination}}
    {{> js/widgets/list_of_things/templates/pagination-partial}}
{{/if}}

</div>
